@import "config/colors";

body {
  font-family: 'Roboto', 'sans-serif';
  background: $color-background-light-3;
  color: $color-text-primary-dark;
  font-size: 16px;
}

input, select, textarea, button {
  font-family: inherit;
}

#container {
  margin: auto;
  max-width: 800px;
  padding: 1rem;
}


