@import "../config/module";

.button {
  padding: $input-padding;
  border-radius: $input-border-radius;
  border: 1px solid $color-button-light;
  background: $color-button-light;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-button-light-hover;
    background: $color-button-light-hover;
  }
}