$color-primary: #FF9800;
$color-primary-light: #FFCC80;
$color-primary-lighter: #FFF0B2;
$color-primary-dark: #EF6C00;
$color-primary-darker: #E65100;

$color-button-light: #E0E0E0;
$color-button-light-hover: #d6d6d6;

$color-grey: rgba(0, 0, 0, .54);
$color-grey-light: rgba(0, 0, 0, .38);
$color-grey-lighter: rgba(0, 0, 0, .12);

$color-text-primary-dark: rgba(0, 0, 0, .87);
$color-text-secondary-dark: rgba(0, 0, 0, .54);
$color-text-disabled-dark: rgba(0, 0, 0, .38);
$color-dividers-dark: rgba(0, 0, 0, .12);

$color-text-primary-light: rgba(255, 255, 255, 1);
$color-text-secondary-light: rgba(255, 255, 255, .7);
$color-text-disabled-light: rgba(255, 255, 255, .5);
$color-dividers-light: rgba(255, 255, 255, .12);

$color-icon-dark-active: rgba(0, 0, 0, .54);
$color-icon-dark-inactive: rgba(0, 0, 0, .38);

$color-icon-light-active: rgba(255, 255, 255, 1);
$color-icon-light-inactive: rgba(255, 255, 255, .5);

$color-background-light-0: #E0E0E0;
$color-background-light-1: #F5F5F5;
$color-background-light-2: #FAFAFA;
$color-background-light-3: #FFFFFF;

$color-background-dark-0: #000000;
$color-background-dark-1: #212121;
$color-background-dark-2: #303030;
$color-background-dark-3: #424242;

$color-danger: #F44336;
$color-danger-light: #EF5350;
