@import "../../../styles/config/module";

.todo {
  cursor: pointer;
  padding: .2em;
  font-size: $font-large;
  &Completed {
    color: $color-text-disabled-dark;
    text-decoration: line-through;
  }
}
