@import "../../../styles/config/colors";

.article-link {
  width: 100%;
}

.article-list-item {
  position: relative;
  overflow: hidden;
  border: none;
  background: $color-background-light-1;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 0;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 0;
  }

  &:not(:hover) {
    .button-delete-article {
      width: 0;
    }
  }
  &:hover {
    .button-delete-article {
      width: 3em;
    }
  }
}

.button-delete-article {
  transition: 300ms width;
  cursor: pointer;
  border: none;
  color: $color-text-primary-light;
  font-size: 1.3em;
  background: $color-danger;
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  &:hover {
    background: $color-danger-light;
  }
}