$color-text-primary-dark: rgba(0, 0, 0, .87);
$color-text-secondary-dark: rgba(0, 0, 0, .54);
$color-text-disabled-dark: rgba(0, 0, 0, .38);
$color-dividers-dark: rgba(0, 0, 0, .12);

$color-text-primary-light: rgba(255, 255, 255, 1);
$color-text-secondary-light: rgba(255, 255, 255, .7);
$color-text-disabled-light: rgba(255, 255, 255, .5);
$color-dividers-light: rgba(255, 255, 255, .12);

$color-background-light-0: #E0E0E0;
$color-background-light-1: #F5F5F5;
$color-background-light-2: #FAFAFA;
$color-background-light-3: #FFFFFF;

$color-background-dark-0: #000000;
$color-background-dark-1: #212121;
$color-background-dark-2: #303030;
$color-background-dark-3: #424242;

