@import "../../../../styles/config/colors";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  * {
    text-overflow: ellipsis;
  }
}

.label {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-top: 1rem;
  font-size: 1em;
  color: $color-text-secondary-dark;
}

.value {
  font-size: 3rem;
  color: $color-text-primary-dark;
}
